*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    height: 100%;
    background-color: #2E303B;
}

.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px 20px;
}

.calculator{
    width: 100%;
    max-width: 380px;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1A1B28;
    border-radius: 3px;
    color: white;
}

button{
    width: 100%;
    height: 50px;
    margin: 5px;
    font-size: 18px;
    font-weight: 800;
    background-color: #1E2435;
    color: white;
    border: 0;
    border-radius: 3px;
}

button:hover{
    background-color: #2f3649;
}

.button-operator:hover{
    background-color: #d31c4d;
}

button:focus{
    outline: 0;
    border: 1px solid #F31E58;
}

.button-operator{
    background-color: #F31E58;
}

.result{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.result-text{
    width: 100%;
    height: 45px;
    font-size: 25px;
    font-weight: 700;
    overflow-x: hidden;
}

.line-button{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer{
    position: absolute;
    width: 100%;
    padding: 20px;
    background-color: #1A1B28;
    text-align: center;
    color: white;
}

footer p{
    font-weight: normal;
}

footer p a{
    font-weight: 700;
    color: white;
    text-decoration: none;
}

footer p a:hover{
    text-decoration: underline;
}
